*{
 margin: 10px;
 padding: 10px;
}
#wrapper{
 width: auto;
 background-color: #262C95;
 margin: 0px auto;
}
#header {
 background-color: #A22B26;
 display: block;
 color: #9FA2AE;
}
#nav {
 background-color: #4E7868;
 display: inline-block;
 width: 300px;
 height: auto;
 vertical-align: top;
 line-height: 0px;
 margin: 10px;
 padding-left: 20px;
 padding-bottom: 20px;
 padding-top: 20px;
}
#main {
 background-color: black; 
 display: inline-block;
 width: 700px;
 min-height: 500px;
 vertical-align: top;
 color: #9FA2AE;
}
#url {
 background-color: #6A6A6C;
 display: block;
 vertical-align: bottom;
}
.greenURL {
 color: #65B48F;
 margin: 0px 0;
 padding: 0px;
}
.bluetext {
 color: blue; 
}
#text {
 color: #9FA2AE;
 line-height: 1px;
 margin: 2px 0;
 padding: 5px;
}
div {
 border-radius: 5px;
}
h1 {
 color: #9FA2AE;
}
h2 {
 color: #9FA2AE;
}
li {
 margin: 5px;
 padding: 5px;
 margin-bottom: 0px;
 margin-top: 5px;
}
ul {
 margin: 10px;
 padding: 5px;
 margin-bottom: 0px;
 margin-top: 5px;
}